@font-face {
    font-family: 'Iran Yekan Bold';
    src: url(../fonts/iranyekanwebblackfanum.ttf);
}

@font-face {
    font-family: 'Iran Yekan Light';
    src: url(../fonts/iranyekanwebregularfanum.ttf);
}