@media screen and (max-width: 380px) {
	.header-content__title {
		font-size: 4rem;
	}
    .context__title {
        max-width: 20rem;
    }
}

@media screen and (max-width: 450px) {
    .footer {
        text-align: center;
    }
    .footer-left {
        justify-content: center;
    }
    .footer-right {
        margin-left: 0;
    }
    .footer-aboutus, .footer-plan, .footer-help, .footer-list {
        width: 100%;
    }
}


@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
	.nav__btn,
	.mobile-nav {
		display: none;
	}
	.menu {
		display: flex;
	}
	.newsletters {
		text-align: right;
        flex-direction: row;
        align-items: center;
	}
	.newsletters__context {
        flex-basis: 60%;
        padding-left: 2rem;
	}
	.newsletters_banner {
        flex-basis: 40%;
	}
}

@media screen and (min-width: 992px) {
    .nav__links {
        display: block;
	}
	.header-content__text {
        max-width: 40rem;
	}
    .newsletters__context {
        padding-left: 4rem;
    }
    .footer__wrapper {
        display: flex;
    }
    .footer-right {
        width: 40rem;
    }
    .footer__scroll {
		right: auto;
	}
}

@media screen and (min-width: 1200px) {
    .newsletters__context {
        flex-basis: auto;
        width: 60rem;
	}
	.newsletters_banner {
        flex-basis: auto;
        width: 42rem;
	}
    .newsletters {
        padding: 3rem 4rem;
    }
    .place {
        width: 35rem;

    }
    .footer-right {
        width: 50rem;
    }
}

@media screen and (min-width: 1400px) {

    .newsletters_banner {
        width: 50rem;
    }
    .newsletters__context {
        flex-basis: auto;
        width: 70rem;
	}
    .newsletters {
        padding: 3rem 6rem;
    }
    .footer-right {
        width: 100rem;
    }
}
@media screen and (min-width: 1600px) {
    .newsletters {
        padding: 3rem 9rem;
    }

}
@media screen and (min-width: 1900px) {
    .footer-list {
        width: 20rem;
    }
}
