@media screen and (max-width: 380px) {
	.header-content__title {
		font-size: 4rem;
	}
    .context__title {
        max-width: 20rem;
    }
}


@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
	.nav__btn,
	.mobile-nav {
		display: none;
	}
	.menu {
		display: flex;
	}
	.newsletters {
		text-align: right;
        flex-direction: row;
        align-items: center;
	}
	.newsletters__context {
        flex-basis: 60%;
        padding-right: 2rem;
	}
	.newsletters__img {
        flex-basis: 40%;
	}
}

@media screen and (min-width: 992px) {
	.nav__links {
		display: block;
	}
	.header-content__text {
		max-width: 40rem;
	}
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1400px) {
}
@media screen and (min-width: 1600px) {
}
@media screen and (min-width: 1900px) {
}
