@media screen and (max-width: 380px) {
	.header-content__title {
		font-size: 4rem;
	}
    .context__title {
        max-width: 20rem;
    }
}


@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
	.nav__btn,
	.mobile-nav {
		display: none;
	}
	.menu {
		display: flex;
	}
	.newsletters {
		text-align: right;
        flex-direction: row;
        align-items: center;
	}
	.newsletters__context {
        flex-basis: 60%;
        padding-left: 2rem;
	}
	.newsletters_banner {
        flex-basis: 40%;
	}
}

@media screen and (min-width: 992px) {
    .nav__links {
        display: block;
	}
	.header-content__text {
        max-width: 40rem;
	}
    .newsletters__context {
        padding-left: 4rem;
    }
}

@media screen and (min-width: 1200px) {
    .newsletters__context {
        flex-basis: auto;
        width: 60rem;
	}
	.newsletters_banner {
        flex-basis: auto;
        width: 42rem;
	}
    .newsletters {
        padding: 3rem 4rem;
    }
    .place {
        width: 35rem;

    }
}

@media screen and (min-width: 1400px) {

    .newsletters_banner {
        width: 50rem;
    }
    .newsletters__context {
        flex-basis: auto;
        width: 70rem;
	}
    .newsletters {
        padding: 3rem 6rem;
    }
}
@media screen and (min-width: 1600px) {
    .newsletters {
        padding: 3rem 9rem;
    }
}
@media screen and (min-width: 1900px) {
}
