:root {
	--orange: #e76f51;
	--white: #fff;
	--grey: #d2d2d2;
	--dark: #3b3735;
}

html {
	box-sizing: border-box;
	font-size: 62.5%; /* 10px */
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: "Iran Yekan Light";
	line-height: 1.6;
	font-size: 1.6rem;
}

/* reset */
a {
	text-decoration: none;
}

/* component */
.btn {
	/* padding: 1.5rem 5rem; */
	width: 20rem;
	height: 5rem;
	outline: none;
	border-radius: 10rem;
	font-size: 2rem;
	font-family: "Iran Yekan Bold";
	cursor: pointer;
	transition: all 0.2s ease;
}

/* app style */
.header {
	background: linear-gradient(rgba(59, 55, 53, 0.5), rgba(59, 55, 53, 0.5)),
		url("../images/header-bg.jpg");
	width: 100%;
	min-height: 80vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0 0 7rem 7rem;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 4rem 0;
}

.nav_right-nav {
	display: flex;
	align-items: center;
	justify-content: center;
}

/*
===============================
			App Logo
===============================
*/

.app-logo {
	width: 5.5rem;
	height: 5.5rem;
	margin-left: 3rem;
}

.app-logo__img {
	width: 100%;
}

/*
===============================
MAIN MENU
===============================
*/

.menu {
	display: none;
	flex-direction: row;
	font-size: 2rem;
}

.menu__item {
	margin-left: 0.5rem;
	padding: 1rem;
	/* background: #000; */
}

.menu__item:hover > .menu__item-link {
	color: var(--white);
}

.menu__item-link {
	color: var(--grey);
	transition: color 0.2s ease;
}

.menu__item-link--active {
	color: var(--white);
	position: relative;
	z-index: 5;
}
.menu__item-link--active::before {
	content: "";
	position: absolute;
	top: 1.5rem;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: -1;
	width: 4rem;
	height: 0.3rem;
	background: var(--orange);
	border-radius: 10rem;
	transform: rotate(-25deg);
}

/*
===============================
			Mobile MENU
===============================
*/

.mobile-nav {
	/* display: none; */
	position: fixed;
	background: var(--orange);
	right: -30rem;
	top: 0;
	bottom: 0;
	width: 30rem;
	padding: 3rem;
	font-size: 2rem;
	transition: all 0.2s ease;
}

.mobile-menu {
	margin-top: 2rem;
}

.mobile-menu__item {
	margin-bottom: 0.5rem;
}

.mobile-menu__item-link {
	color: var(--white);
}

.mobile__links {
	display: flex;
}

.mobile__link {
	border: 1px solid var(--white);
	display: block;
	color: var(--white);
	flex-grow: 1;
	text-align: center;
}

.mobile__link--border {
}

/*
===============================
			Sign in/up Buttons
===============================
*/

.nav__links {
	display: none;
	font-weight: bold;
}

.nav__link {
	color: var(--white);
	margin-right: 2rem;
}

.nav__link--border {
	border: 1px solid var(--white);
	padding: 1rem 3rem;
	border-radius: 2rem;
	transition: all 0.2s ease;
}

.nav__link--border:hover {
	background: var(--white);
	color: var(--dark);
}

/*
===============================
			mobile MENU button
===============================
*/

.nav__btn {
	width: 5.5rem;
	height: 5.5rem;
	background: #fff;
	border-radius: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

/* .nav__btn:hover {
	background: var(--orange);
}
.nav__btn:hover > .nav__btn-line {
	background-color: #fff;
}
.nav__btn:hover > .nav__btn-line::after {
	background-color: #fff;
}
.nav__btn:hover > .nav__btn-line::before {
	background-color: #fff;
} */

.nav__btn-line {
	display: block;
	width: 3rem;
	height: 0.2rem;
	background-color: var(--orange);
	border-radius: 1rem;
	position: relative;
}

.nav__btn-line::after,
.nav__btn-line::before {
	content: "";
	background-color: var(--orange);
	border-radius: 1rem;
	height: 0.2rem;
	width: 3rem;
	position: absolute;
}
.nav__btn-line::after {
	top: -0.8rem;
}
.nav__btn-line::before {
	top: 0.8rem;
}

.nav__btn--open .nav__btn-line {
	background-color: transparent;
}
.nav__btn--open .nav__btn-line::after {
	transform: translateY(0.8rem) rotate(45deg);
}
.nav__btn--open .nav__btn-line::before {
	transform: translateY(-0.8rem) rotate(-45deg);
}

/*
===============================
			main header
===============================
*/

.header__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 50rem;
}

.header-content {
	color: var(--white);
	text-align: center;
	margin-top: 5rem;
}
.header-content__title {
	font-size: 6rem;
	line-height: 8rem;
	font-family: "Iran Yekan Bold";
	margin: 0 auto 3rem auto;
	max-width: 35rem;
}
.header-content__text {
	font-size: 1.8rem;
	max-width: 30rem;
	margin: 0 auto 2rem auto;
}

.header-content__btn {
	border: 1px solid var(--orange);
	background: var(--orange);
}

.header-content__btn:hover {
	border: 1px solid var(--orange);
	background: var(--white);
}

.header-content__btn:hover > .header-content__btn__link {
	color: var(--orange);
}

.header-content__btn__link {
	display: block;
	color: var(--white);
}
